In [18]:
import numpy as np
import pandas as pd
import re,math
from sklearn import preprocessing
from scipy.stats import pearsonr
import matplotlib.pyplot as plt
import pyecharts.options as opts
from pyecharts.charts import WordCloud
from pyecharts.render import make_snapshot
from wordcloud import WordCloud



data1 = pd.read_csv(r'2022_02_23_07_33_27.csv',encoding='gbk')
data2 = pd.read_excel(r'选择你所在家乡城市 描述统计.xlsx')
data3 = pd.read_excel(r'学校以及学院 描述统计.xlsx')
data4 = pd.read_excel(r'一流大学.xlsx')
# 去除非二元问题
temp = data1.iloc[1:,23:].fillna(0)
tp1 = []
for index, row in temp.iterrows():
    temp1 = []
    for j in row:
        if j == 0:
            temp1.append(0)
        elif j == "0":
            temp1.append(0)
        elif j == "1":
            temp1.append(1)
        elif j == "是":
            temp1.append(1)
        elif j == "否":
            temp1.append(0)
        else:
            # print(j)
            temp1.append(999)
    tp1.append(temp1)
temp2 = pd.DataFrame(tp1, columns=temp.columns)
# 填补空缺
temp3 = []
columns_f = []
for columns, line in temp2.iteritems():
    status_f = 0
    for j in line:
        if j == 999:
            status_f = 1
        else:
            pass
    if status_f == 0:
        temp3.append(line)
        columns_f.append(columns)
temp4 = pd.DataFrame(temp3,index=columns_f).T
# 筛选点
nodes = []
origin_nodes = []
count = 0
for column, line in temp4.iteritems():
    try:
        c = column.split("-")[1].replace("您大学期间是否进行过兼职（包括实习）（）？","实习过").replace("?", "").replace("（刷单、打字、APP试玩点赞等）","")
    except:
        c = column.replace("您大学期间是否进行过兼职（包括实习）（）？","实习过").replace("?", "").replace("（刷单、打字、APP试玩点赞等）","")
    if c != "其他":
        ct = (c, line.sum())
        #print(line, count)
        nodes.append(ct)
        origin_nodes.append(line)
    count += 1

In [19]:
# temp5 = nodes[31:37]
# temp5.extend(nodes[-30:-24])
temp5 = nodes
tttt = [("自认倒霉", 149), ("寻求家长帮助", 33), ("向相关部门投诉", 88), ("法律维权", 12), ("其他手段维权", 16)]
temp5.extend(tttt)

In [26]:
tp = []
for i in temp5:
    if i != temp5[36]:
        tp.append(i)

In [42]:
tpp = tp[31:36]+tp[57:63]+tp[-5:]

In [43]:
wordcloud = WordCloud(
        font_path="./SimHei.ttf",
        background_color='white',                   # 背景颜色
        width=2000,
        height=1200,
        max_words=200,                        # 显示词数
        max_font_size = 400).generate_from_frequencies(dict(tpp))
image_produce = wordcloud.to_image()
image_produce.show()

In [22]:
data4

     Unnamed: 0        0
0           NaN     北京大学
1           NaN   中国人民大学
2           NaN     清华大学
3           NaN   北京交通大学
4           NaN   北京工业大学
..          ...      ...
142         NaN   上海科技大学
143         NaN  中国科学院大学
144         NaN   国防科技大学
145         NaN   海军军医大学
146         NaN   空军军医大学

[147 rows x 2 columns]

In [23]:
np.array(data4[0])

array(['北京大学', '中国人民大学', '清华大学', '北京交通大学', '北京工业大学', '北京航空航天大学', '北京理工大学',
       '北京科技大学', '北京化工大学', '北京邮电大学', '中国农业大学', '北京林业大学', '北京协和医学院',
       '北京中医药大学', '北京师范大学', '首都师范大学', '北京外国语大学', '中国传媒大学', '中央财经大学',
       '对外经济贸易大学', '外交学院', '中国人民公安大学', '北京体育大学', '中央音乐学院', '中国音乐学院',
       '中央美术学院', '中央戏剧学院', '中央民族大学', '中国政法大学', '南开大学', '天津大学', '天津工业大学',
       '天津医科大学', '天津中医药大学', '华北电力大学', '河北工业大学', '山西大学', '太原理工大学', '内蒙古大学',
       '辽宁大学', '大连理工大学', '东北大学', '大连海事大学', '吉林大学', '延边大学', '东北师范大学',
       '哈尔滨工业大学', '哈尔滨工程大学', '东北农业大学', '东北林业大学', '复旦大学', '同济大学', '上海交通大学',
       '华东理工大学', '东华大学', '上海海洋大学', '上海中医药大学', '华东师范大学', '上海外国语大学',
       '上海财经大学', '上海体育学院', '上海音乐学院', '上海大学', '南京大学', '苏州大学', '东南大学',
       '南京航空航天大学', '南京理工大学', '中国矿业大学', '南京邮电大学', '河海大学', '江南大学', '南京林业大学',
       '南京信息工程大学', '南京农业大学', '南京医科大学', '南京中医药大学', '中国药科大学', '南京师范大学',
       '浙江大学', '中国美术学院', '安徽大学', '中国科学技术大学', '合肥工业大学', '厦门大学', '福州大学',
       '南昌大学', '山东大学', '中国海洋大学', '中国石油大学（华东）', '郑州大学', '河南大学', '武汉大学',
       '华中科技大学', '中国地质大学（武汉）', '武汉理工大学', '华中农业大学', '华中师范大学', '中南财经政法大学',
       '湘潭大学', '湖南大学', '中南大学', '湖南师范大学', '中山大学', '暨南大学', '华南理工大学',
       '华南农业大学', '广州医科大学', '广州中医药大学', '华南师范大学', '海南大学', '广西大学', '四川大学',
       '重庆大学', '西南交通大学', '电子科技大学', '西南石油大学', '成都理工大学', '四川农业大学',
       '成都中医药大学', '西南大学', '西南财经大学', '贵州大学', '云南大学', '西藏大学', '西北大学',
       '西安交通大学', '西北工业大学', '西安电子科技大学', '长安大学', '西北农林科技大学', '陕西师范大学',
       '兰州大学', '青海大学', '宁夏大学', '新疆大学', '石河子大学', '中国矿业大学（北京）',
       '中国石油大学（北京）', '中国地质大学（北京）', '宁波大学', '南方科技大学', '上海科技大学', '中国科学院大学',
       '国防科技大学', '海军军医大学', '空军军医大学'], dtype=object)

In [24]:
ytemp = []
errotemp = []
for index, row in data1.iterrows():
    tp = row["学校以及学院"].split("大学")[0] + "大学"
    try:
        tp1 = row["学校以及学院"].split("大学")[1]
    except:
        tp1 = ""
    if tp in np.array(data4[0]):
        ytemp.append(np.array(row))
    else:
        errotemp.append(np.array(row))
for i,j in zip([errotemp, ytemp],["二流大学", "一流大学"]):
    pd.DataFrame(i, columns=data1.columns).to_csv(f"./一流大学/{j}.csv",encoding="utf_8_sig")